<section class="section cta-container">
    <article class="cta-banner">
        <div class="cta-image">
            <img src="{{ asset('images/delivered.svg') }}" alt="illustration pour la livraison">
        </div>
        <div class="cta-body">
            <h3>Livraison gratuite !</h3>
            <p>Profitez de la livraison gratuite sur toutes les
                commandes ! Pas de minimum
                d'achat.</p>
            <div>
                <a href="#" class="button button-dark-blue">Voir les produits</a>
            </div>
        </div>
    </article>
    <article class="cta-banner">
        <div class="cta-body">
            <h3>Inscrivez-vous dès maintenant !</h3>
            <p>Inscrivez-vous dès maintenant ouvrir votre marketplace
                et vendre vos produits !</p>
            <div>
                <a href="{{ path('app_register') }}"
                   class="button button-dark-blue">S'inscrire
                    maintenant</a>
            </div>
        </div>
        <div class="cta-image">
            <img src="{{ asset('images/welcome.svg') }}" alt="illustration pour la livraison">
        </div>
    </article>
</section>
