<section class="section newsletter-section">
    <article>
        <div>
            <h2>Inscrivez-vous à la newsletter</h2>
            <p>Recevez les dernières actualités et les derniers articles de blog directement dans votre boîte de
                réception.</p>
        </div>
        <form>
            <label for="email_address">
                <input  type="email"
                       name="email_address" placeholder="Votre adresse email" id="email_address" required>
            </label>
            <button class="button button-white">S'inscrire</button>
        </form>
    </article>
    <canvas class="home-page__particles"></canvas>
</section>
