@import "../_variables.scss";


.products-page-section {
  width: 100%;

  .products-page-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .products-page-aside {
      display: none;
    }

    @media (min-width: 768px) {
      .products-page-aside {
        display: block;
        width: 300px;
      }
    }

    .products-filters {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 1rem 0;

      p, form {
        margin: 1rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
        color: $text-blue;
      }

      .products-filters-sort,
      .products-filters-limit {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        .products-filters-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          .products-filters-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            border: 1px solid $text-blue;
            border-radius: 0.5rem;
            color: $text-blue;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: $orange;
              border: 1px solid $orange;
              color: white;
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      .products-filters {
        flex-direction: row;
        justify-content: flex-end;
        max-width: 800px;
        margin: 1rem 1rem 1rem auto;
      }
    }

    .products-list {
      margin: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1rem;
      justify-items: center;
      align-items: center;

      .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: 1px solid $border-gray;
        border-radius: 0.5rem;
        background-color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }

        .product-card-image {
          width: 100%;
          height: 200px;
          margin-bottom: 1rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .product-card-body {
          width: 100%;

          .product-card-title {
            font-size: 1.2rem;
            font-weight: 600;
            color: $text-blue;
            margin-bottom: 1rem;
          }

          .product-card-price {
            font-size: 1.2rem;
            font-weight: 600;
            color: $text-blue;
            margin-bottom: 1rem;
          }

          .product-card-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 2.5rem;
            border: 1px solid $text-blue;
            border-radius: 0.5rem;
            color: $text-blue;
            font-size: 0.8rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: $text-blue-darker;
              color: white;
            }
          }

          .product-card-caracteristics {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 1rem;

            li {
              margin: 0.5rem 0;
              font-size: 0.8rem;
              font-weight: 600;
              color: $text-blue;
            }
          }
        }
      }
    }

    .pagination-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin: 3rem auto 1rem;


      .pagination-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $text-blue;
        border-radius: 0.5rem;
        color: $text-blue;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin: 0 1rem;

        &:hover {
          background-color: $text-blue-darker;
          color: white;
        }
      }

      .pagination-link.active {
        background-color: $text-blue-darker;
        color: white;
      }
    }
  }
}