@import '../../_variables.scss';

.logout-container {
  position: sticky;
  top: 0;
  z-index: $z-index-50;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  padding: $spacing-sm $spacing-md;
  box-shadow: inset 0 -1px 0 0 $color-gray-lighter;
  background-color: $color-white;

  span {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: $spacing-sm $spacing-md;
    color: $color-blue;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;

    i {
      height: auto;
      margin-right: $spacing-sm;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    display: flex;
  }
}