$text-dark-blue: #1F2E4D;
$text-blue: #5C74A6;
$text-blue-lighter: #8C9DBA;
$text-blue-darker: #3F4F7F;
$text-light-blue: #C8DCE8;
$text-light-blue-darker: #A6CCE3;

$color-gray: #c4c4c4;
$orange : #FB923CFF;
$orange-dark : #F97316FF;

$border-gray: rgb(229 231 235);


