$text-dark-blue: #1F2E4D;
$text-blue: #5C74A6;
$text-blue-lighter: #8C9DBA;
$text-blue-darker: #3F4F7F;
$text-light-blue: #C8DCE8;
$text-light-blue-darker: #A6CCE3;

$border-gray: rgb(229 231 235);


