@import '../../_variables.scss';

.seller-section {
  display: flex;
  flex-direction: column;
  padding: $spacing-xxl 0;

  .seller-header {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-lg;

    h2 {
      font-size: $font-size-xxl;
      font-weight: $font-weight-bold;
      color: $color-blue-darker;
      margin-bottom: $spacing-lg;
    }

    button {
      margin: $spacing-lg 0 $spacing-lg auto;

    }

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: $spacing-xxl;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    align-items: center;
  }
}