{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <section class="content-section">
        <div class="content-header">
            <div>
                <h2>Modifier la catégorie</h2>
                <a href="{{ path('app_admin_category_index') }}" class="button button-blue">Retour</a>
            </div>
           <p>Une modif ?, attention la modification d'une catégorie peut avoir des conséquences sur les articles qui lui sont liés.</p>
        </div>
        <section>
            {{ include('admin/category/_form.html.twig') }}
        </section>
    </section>
{% endblock %}