{% extends 'user/base_user.html.twig' %}

{% block section %}

    <section class="content-section">
        <div class="content-header">
            <h2>Liste des produits</h2>
            <a href="{{ path('app_seller_product_add') }}" class="button button-blue">Ajouter un produit</a>
        </div>
        <section class="content-table">
            {{ include('seller/product/_table.html.twig') }}
            {{ include('components/_pagination.html.twig') }}
        </section>
    </section>
{% endblock %}
