{% extends 'user/base_user.html.twig' %}

{% block section %}
    <section class="content-section">
        <div class="content-header">
            <h2>Consulter un produit</h2>
            <a href="{{ path('app_seller_product_index') }}" class="button button-blue">Retour</a>
        </div>
        <section>
            {{ include('seller/product/_datalist.html.twig') }}
        </section>
    </section>
{% endblock %}
